.subjects {
    padding-bottom: 2vh;
    font-size: 2rem;
}

#myinfo {
    display: flex;
    justify-content: center;
}

#aboutme {
    background-color: white;
    width: 80vw;
    color: black;
    display: flex;
    border-radius: 1.875rem;
    align-items: center;
}

#mikepic {
    width: 30%;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 1.875rem;
    height: 100%;
}

#mikeinfo {
    margin-left: 2%;
    font-size: 1rem;
}

#hobbys {
    padding-top: 5%;
}

li {
    padding-top: 3%;
}

.card {
    width: 30vw;
    margin: 0 auto;
    border: 0.25rem solid gold;
    background-color: lightyellow;
    border-radius: 1.875rem;
    overflow: hidden;
    box-shadow: 0.438rem 0.625rem 1.063rem rgba(0, 0, 0, 0.2);
    transition: transform .2s;
    max-height: 100%;
    max-width: 100%;
    color: black;
}

.card:hover {
    transform: scale(1.08);
}

.pokemontype {
    display: flex;
    justify-content: center;
    width: 100%;
}

h3 {
    margin-top: 0;
}

.name {
    font-size: 2rem;
    font-style: italic;
    text-align: center;
    padding: 0.313rem;
    margin: 0;
}

div.pokemontype img {
    width: 7%;
    height: 7%;
    margin-top: 2%;
}

#scorbunnycard {
    width: 30vw;
    margin: 0 auto;
    border: 0.25rem solid rgb(255, 0, 0);
    background-color: rgb(255, 206, 206);
    border-radius: 1.875rem;
    overflow: hidden;
    box-shadow: 0.438rem 0.625rem 1.063rem rgba(0, 0, 0, 0.2);
    transition: transform .2s;
    max-height: 100%;
    max-width: 100%;
    color: black;
}

#scorbunnycard:hover {
    transform: scale(1.08);
}

.skills {
    padding: 10px;
}

.skills h3 {
    text-align: center;
}

.moves {
    display: flex;
    justify-content: space-around;
}

.pokedex {
    text-align: center;
    padding: 0.625rem;
    background-color: gold;
}

#scorbunnypokedex {
    text-align: center;
    padding: 0.625rem;
    background-color: rgb(255, 0, 0);
    margin-bottom: 0 auto;
}

#scorbunnypokedex a {
    font-weight: bold;
    text-decoration: underline;
    color: #000;
}

.pokedex a {
    font-weight: bold;
    text-decoration: underline;
    color: #000;
}

.pokedex a:hover {
    text-decoration: none;
    color: darkgrey;
}

#scorbunnypokedex a:hover {
    text-decoration: none;
    color: darkgrey;
}

#pokemoninfo {
    display: flex;
    justify-content: space-between;
    margin-top: 0;

}

.pokepics {
    width: 30vw;
    height: 25vw;
    display: flex;
    justify-content: center;
    object-fit: contain;
}

.profile-picture {
    max-height: 380px;
    height: 100%;
    align-items: center;
}

.spacebetweensections {
    margin-bottom: 10vh;
}

.marvelpics {
    width: 25vw;
    height: 25vw;
    border-radius: 100%;
    background: white;
    display: flex;
    justify-content: center;
    transition: transform .2s;
}

.marvelpics:hover {
    transform: scale(1.2);
}

.marvelcards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}




@media (max-width:800px) {
    #pokemoninfo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card {
        text-align: center;
        width: 70vw;
        margin-bottom: 3vh;
    }

    .card:hover {
        transform: none;
    }

    #scorbunnycard {
        text-align: center;
        margin-bottom: 3vh;
        width: 70vw;
    }

    #scorbunnycard:hover {
        transform: none;
    }

    .pokepics {
        width: 70vw;
        height: 50vw;
        display: flex;
        justify-content: center;
    }

    .profile-picture {
        width: 80%;
        height: 100%;
    }

    .name {
        text-align: center;
    }

    #aboutme {
        display: block;
        width: 90vw;
    }

    #mikepic {
        margin-left: 3%;
        margin-right: 3%;
        width: 94%;
        margin-top: 3%;
    }

    li {
        padding-top: 1%;
    }

    #mikeinfo {
        margin-left: 3%;
        margin-right: 3%;
        padding-bottom: 1%;
    }

    .marvelpics {
        width: 30vw;
        height: 30vw;
    }

    .marvelpics:hover {
        transform: none;
    }
}