body {
    background-color: rgb(0, 0, 0);
    margin: 0;
}

#contacttitle {
    display: flex;
    justify-content: center;
    padding-bottom: 2vh;
}

h2 {
    margin: 0;
    color: rgb(0, 0, 0);
    text-align: center;
}

main {
    width: 50vw;
    background-color: rgba(255, 255, 255, 0.946);
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    text-align: left;
    color: black;
}

.formrule {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

input {
    font-size: 1em;
}

input:invalid, textarea:invalid {
    background-color: #FA787E;
}

input:valid, textarea:valid {
    background-color: #78FA89;
}

input[type="tel"] {
    background-color: white;
}

input[type="text"],
input[type="email"] {
    padding: 4px;
    border: 0;
}

#subjectquestion {
    margin-bottom: 0;
}

#mandatory {
    font-size: 0.5em;
}

#space {
    margin-top: 2vh;
}

select,
button {
    font-size: 1em;
    border: 0;
    padding: 4px 14px;
    background-color: rgb(0, 0, 0);
    color: gold;
}

#buttonpress {
    display: flex;
    justify-content: center;
}

button:hover {
    color: rgb(0, 0, 0);
    background-color: gold;
    cursor: pointer;
}

@media (max-width: 800px) {

    .formrule {
        flex-direction: column;
    }

    input[type="text"],
    input[type="email"] {
        width: 97.5%;
    }

    input[type="date"] {
        width: 98%;
    }

    main {
        width: 70vw;
    }
}