@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');

body {
    margin: 0;
    padding: 0;
    background-image: url(../img/starwars-header.webp);
    color: white;
    font-family: 'Poller One';
    background-color: black;
}

h2 {
    text-align: center;
}

header#hero h2 {
    margin: 0;
    margin-top: 6vh;
    color: gold;
    background-image: url(../img/starwars-header.webp);
    font-family: 'Londrina Outline';
    width: fit-content;
    font-size: 3rem;
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 0.6rem;
    border: solid 0.2rem gold;
}

header#hero {
    height: 20vh;
    background-size: cover;
    background-image: url(../img/jedi-header\ kopie.jpeg);
    background-repeat: round;
    flex-direction: column;
    font-weight: bolder;
    align-items: center;
    display: flex;

}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: gold;
}

nav a:hover {
    background-image: url(../img/hyperspace.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;

}

nav a {
    padding: 1vw;
    padding-right: 9.5vw;
    padding-left: 9.5vw;
    text-decoration: none;
    color: gold;
    font-size: 1.1em;
    transition: all 0.5s ease-in-out;
    padding-top: 1%;
    padding-bottom: none;
    align-items: center;
    font-family: 'Poller One';
}

div#aboutme {
    background-color: white;
    margin-left: 20vw;
    margin-right: 20vw;
    background-position-y: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    display: flex;
    border-radius: 1.875rem;
}

#mikepic {
    width: 30%;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 1.875rem;
}

p#mikeinfo {
    margin-top: 0;
}

ul {
    padding-top: 1%;
    margin-right: 3%;
}

#hobbys {
    padding-top: 5%;
}

li {
    padding-top: 5%;
}

#top {
    display: flex;
    justify-content: center;
    color: gold;
}

.card {
    width: 30vw;
    margin: 0 auto;
    border: 0.25rem solid gold;
    background-color: lightyellow;
    border-radius: 1.875rem;
    overflow: hidden;
    box-shadow: 0.438rem 0.625rem 1.063rem rgba(0, 0, 0, 0.2);
    transition: background-color 800ms ease-out 100ms;
    max-height: 100%;
    max-width: 100%;
    color: black;
}

.card:hover {
    background-color: gold;
}

#scorbunnycard {
    width: 30vw;
    margin: 0 auto;
    border: 0.25rem solid rgb(255, 0, 0);
    background-color: rgb(255, 206, 206);
    border-radius: 1.875rem;
    overflow: hidden;
    box-shadow: 0.438rem 0.625rem 1.063rem rgba(0, 0, 0, 0.2);
    transition: background-color 800ms ease-out 100ms;
    color: black;
}

#scorbunnycard:hover {
    background-color: red;
}

h3 {
    margin-top: 0;
}

.name {
    font-size: 2em;
    font-style: italic;
    text-align: center;
    padding: 0.313rem;
    margin: 0;
}

.skills {
    padding: 10px;
}

.skills h3 {
    text-align: center;
}

.moves {
    display: flex;
    justify-content: space-around;
}

.contact {
    text-align: center;
    padding: 0.625rem;
    background-color: gold;
}

#scorbunnycontact {
    text-align: center;
    padding: 0.625rem;
    background-color: rgb(255, 0, 0);
}

#scorbunnycontact a {
    font-weight: bold;
    text-decoration: underline;
    color: #000;
}

.contact a {
    font-weight: bold;
    text-decoration: underline;
    color: #000;
}

.contact a:hover {
    text-decoration: none;
    color: darkgrey;
}

#scorbunnycontact a:hover {
    text-decoration: none;
    color: darkgrey;
}

#pokemoninfo {
    display: flex;
    justify-content: space-between;
    margin-top: 0;

}

.profile-picture {
    max-height: 380px;
    height: 100%;
    object-fit: contain;
    align-items: center;
}

.spacebetweensections {
    margin-bottom: 10vh;
}

.marvelcard {
    width: 20vw;
    height: 35vh;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    border-radius: 50rem;
    border: solid black;
    overflow: hidden;
    color: rgb(0, 0, 0);
}

.marvel-picture {
    max-height: 300px;
    height: 100%;
    object-fit: contain;
    align-items: center;
    margin-left: 20%;
}

#grootpic {
    margin-top: 5%;
}

#lokipic {
    margin-left: 0%;
}

.marvelcards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer {
    background-color: rgba(255, 255, 255, 0.839);
}

#footerdiv {
    margin-left: 0;
    margin-right: 0;
    margin-top: 5%;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact {
    display: flex;
    justify-content: space-around;
}

#contact img {
    width: 100px;
}