@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: 'Portico Outline';
    src: url(/fonts/Portico\ Outline.ttf);
}
@font-face {
    font-family: 'Portico Regular';
    src: url(/fonts/Portico\ Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    background-image: url(../img/starwars-header.webp);
    color: white;
    font-family: 'Roboto';
    background-color: black;
}

h2 {
    text-align: center;
    font-family: 'Portico Regular';
}

header#hero h2 {
    margin: 0;
    margin-top: 6vh;
    color: gold;
    background-image: url(../img/starwars-header.webp);
    font-family: 'Portico Outline';
    width: fit-content;
    font-size: 3rem;
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 0.6rem;
    border: solid 0.2rem gold;
}

header#hero {
    height: 25vh;
    background-size: cover;
    background-image: url(../img/jedi-header\ kopie.jpeg);
    background-repeat: round;
    flex-direction: column;
    font-weight: bolder;
    align-items: center;
    display: flex;

}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: gold;
    background-image: url(../img/starwars-header.webp);
    position: sticky;
    top: 0px;
    font-size: 1.4em;
}

nav a:hover {
    background-image: url(../img/hyperspace.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;

}

nav a {
    padding: 1vw;
    padding-inline: 8%;
    text-decoration: none;
    color: gold;
    transition: all 0.3s ease;
    padding-top: 1%;
    align-items: center;
    font-family: 'Portico Regular';
}

#totop {
    background-color: gold;
    position: fixed;
    padding: 0px;
    border-radius: 25rem;
    bottom: 20px;
    right: 20px;
    width: 5vw;
    height: 5vw;
}

#totop img {
    width: 5vw;
}

#totop:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    transition: 0.5s;
}

footer {
    background-color: rgba(255, 255, 255, 0.839);
}

#footerdiv {
    margin-left: 0;
    margin-right: 0;
    margin-top: 5%;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact {
    display: flex;
    justify-content: space-around;
}

#contact img {
    width: 100px;
}

@media (max-width:800px) {
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav a {
        padding-left: 30vw;
        padding-right: 30vw;
        font-size: 1rem;
    }

    header#hero {
        height: 10vh;
    }

    header#hero h2 {
        margin-top: 2.5vh;
        font-size: 2rem;
        border: solid 0.1rem;
    }

    body {
        width: 100% auto;
    }

    #footerp {
        font-size: 0.8rem;
        margin-left: 5vw;
    }

    #contact img {
        width: 75px;
    }

    #totop {
        width: 10vw;
        height: 10vw;
        bottom: 50px;
        right: 10px;
    }
    #totop:hover {
        background-color: gold;
        transition: none;
    }
    #totop img{
        width: 10vw;
        height: 10vw;
    }
}