@media (max-width:1000px) {
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav a {
        padding-left: 25vw;
        padding-right: 25vw;
        font-size: medium;
    }

    header#hero {
        height: 10vh;
    }

    header#hero h2 {
        margin-top: 2vh;
        font-size: 200%;
        border: solid 0.1rem;
    }

    section#pokemoninfo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card {
        text-align: center;
        width: 70vw;
        margin-bottom: 3vh;
    }

    #scorbunnycard {
        text-align: center;
        margin-bottom: 3vh;
        width: 70vw;
    }

    body {
        width: 100% auto;
    }

    div#aboutme {
        display: block;
        margin-left: 10vw;
        margin-right: 10vw;
        font-size: smaller;
    }

    #mikepic {
        margin-left: 3%;
        margin-right: 3%;
        width: 94%;
        margin-top: 3%;
    }

    li {
        padding-top: 1%;
    }

    ul {
        padding-bottom: 3%;
        margin-right: 3%;
        margin-left: -3%;
    }

    .name {
        text-align: center;
        font-size: 1.3em;
    }

    .profile-picture {
        max-height: 200px;
        object-fit: cover;
        align-items: center;
    }

    .pokepics {
        margin-left: 0;
    }
    
    .marvel-picture {
        max-height: 110px;
        object-fit: cover;
        align-items: center;
        margin-left: 0;
    }

    .marvelpics {
        margin-left: 0;
    }

    .marvelcard {
        text-align: center;
        margin-bottom: 3vh;
        margin: 0 auto;
        width: 30vw;
        height: 15vh;
        border: none;
        border-radius: 50%;
    }

    #footerp {
        font-size:0.8rem;
        margin-left: 5vw;
    }
    #contact img {
        width: 75px;
    }
}